* {
  transition: 0.2s ease-in;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  min-height: 100vh;
  position: relative;
}
#board {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
  border-right: 1px solid black;
  border-top: 1px solid black;

}
.square {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

#players {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.player {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.7;
  border-radius: 50%;
  padding: 2px;
  transition: all 0.3s ease-in;
}
#player1 {
  background-color: red;
  position: absolute;
  left: -50px;
  bottom: 10px;
}
#player2 {
  background-color: blue;
  position: absolute;
  left: -50px;
  bottom: -30px;
}

#dice {
  padding: 1rem;
  margin: auto;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}


#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#menu h1 {
  font-size: 2rem;

}
#menu div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu a {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #333;
  border-radius: 20px;
  color: #eee;
  display: block;
  width: 200px;
  transition: all 0.1s ease-in;
}
#menu a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  padding: 1rem;
  margin: 0.5rem 0;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.5rem;
}
.settings-nav ul{
  list-style: none;
  display: flex;
}
.settings-nav ul li {
  padding: 1rem;
}
.settings-nav ul li a{
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #333;
  border-radius: 20px;
  color: #eee;
  display: block;
  width: 200px;
  transition: all 0.1s ease-in;
  text-align: center;
}
.settings-nav ul li a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.settings-list-item {
  padding: 1rem;
}
.settings-list-subitem{
  padding: 1rem 0;
}
.btn-settings {
  background: #333;
  color: #eee;
  border-radius: 5px;
  padding: 0.3rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.1s ease;
  z-index: 10;
}
.btn-settings:hover {
  transform: scale(1.1);
}

#dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-dice {
  background: #00aa3c;
  color: #eee;
  border-radius: 5px;
  padding: 0.3rem;
  border: 0;
  box-shadow: 0 0 5px 0px #333;
  text-shadow: 0 0 3px #333;
  transition: all 0.1s ease;
  margin: 0.5rem;
  font-size: 1.2rem;
}
#btn-dice:hover {
  transform: scale(1.1);
}
#btn-dice:disabled {
  background-color: #6b6b6b;
  transform: scale(1);
}