* {
  transition: 0.2s ease-in;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  min-height: 100vh;
}
#board {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
  border-right: 1px solid black;
  border-top: 1px solid black;

}
.square {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

#players {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.player {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.7;
  border-radius: 50%;
  padding: 2px;
  transition: all 0.3s ease-in;
}
#player1 {
  background-color: red;
  position: absolute;
  left: -50px;
  bottom: 10px;
}
#player2 {
  background-color: blue;
  position: absolute;
  left: -50px;
  bottom: -30px;
}

#dice {
  padding: 1rem;
  margin: auto;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(rgb(255, 255, 255), rgb(167, 167, 167));
}

a {
  text-decoration: none;
}


#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#menu div {
  text-align: center;
}

#menu a {
  font-size: 2rem;
  padding: 1rem;
  background-color: aqua;
  border-radius: 20px;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  padding: 1rem;
  margin: 0.5rem 0;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.5rem;
}
.settings-nav ul{
  list-style: none;
  display: flex;
}
.settings-nav ul li {
  padding: 1rem;
}
.settings-list-item {
  padding: 1rem;
}
.settings-list-subitem{
  padding: 1rem 0;
}